/* Global styles */
:root {
  --lato: 'Lato', sans-serif;
  --cocogoose-b: cocogoose-bold, sans-serif;
  --cocogoose-t: cocogoose-thin, sans-serif;
  --dark-grey: #3e3e3e;
  --orange: #ec5242;
  --grey: #808080;
  --light-grey: #f9f9f9;
  --white: #fff;
  --light-black: #272a31;
}
@font-face {
  font-family: cocogoose-bold;
  src: url('../fonts/Cocogoose-Pro-trial.ttf');
}

@font-face {
  font-family: cocogoose-thin;
  src: url('../fonts/Cocogoose-Pro-Light- Italic-trial.ttf');
}

html {
  font-size: 12px;
}

.hero {
  background-image: url(../images/hero-background.png);
  background-position: center;
  height: 100vh;
  padding: 1rem 0;
}

.hero .inner-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inner-content h1 {
  font-family: var(--lato);
  color: var(--orange);
  font-size: 2.8rem;
  padding-top: 4rem;
  padding-left: 2rem;
}

.inner-content h1 + p {
  font-family: var(--cocogoose-b);
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--orange);
  letter-spacing: 0.2rem;
  padding-left: 2rem;
  /* border: 1px solid saddlebrown; */
}

.hero-inner-text {
  padding-left: 2rem;
}

.hero-inner-text p {
  border: 5px solid var(--white);
  background-color: var(--light-grey);
  text-align: justify;
  padding: 1rem 1.5rem;
  line-height: 1.5;
  font-family: var(--lato);
  font-size: 1.2rem;
  color: var(--light-black);
  width: 50%;
}

.venue-details {
  padding-left: 2rem;
  padding-top: 1rem;
}
.summit-date {
  text-transform: uppercase;
  color: var(--dark-grey);
  font-size: 2.7rem;
  font-weight: bold;
  font-family: var(--lato);
}

.summit-venue {
  padding-top: 1rem;
  color: var(--dark-grey);
  font-family: var(--lato);
  font-size: 1.9rem;
}

/* Mobile view styles */

@media screen and (max-width: 768px) {
  .desktop-nav,
  #top {
    display: none;
  }

  .inner-content {
    width: 100%;
    margin: 0 auto;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #e9eaf1;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }

  .modal-dialog {
    position: relative;
    height: 100vh;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: red;
    overflow: auto;
    cursor: default;
    margin-bottom: 2em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
  }

  .modal-nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    padding-left: 2em;
  }

  .web-header-link {
    text-decoration: none;
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #3a4a42;
  }

  .close-modal {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    align-self: end;
    padding-right: 1.5em;
    font-size: 2em;
  }

  .modal-footer-image {
    margin-bottom: 0.5em;
  }

  /* Mobile modal Animation */
  [data-animation] .modal-dialog {
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }

  [data-animation].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
  }

  [data-animation='slideInOutRight'].is-visible .modal-dialog {
    transform: none;
  }

  /* Hero section styles */

  .inner-content h1 {
    font-size: 0.8rem;
    padding-top: 2rem;
    padding-left: 1rem;
  }

  .inner-content h1 + p {
    font-size: 2.8rem;
    line-height: 1.1;
    letter-spacing: 0.1rem;
    padding: 0 1rem;
  }
  .hero-inner-text {
    padding: 0;
    margin: 0 1rem;
  }
  .hero-inner-text p {
    text-align: justify;
    padding: 1rem 1.5rem;
    line-height: 1.2;
    font-size: 1.2rem;
    color: var(--light-black);
    letter-spacing: 0.03em;
    width: auto;
  }

  .venue-details {
    padding: 0;
  }

  .summit-date {
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--lato);
  }

  .summit-venue {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
  }
}

/* Tablet view styles */

/* Desktop view styles */
@media screen and (min-width: 769px) {
  .mobile-open-menu,
  .mobile-header-nav,
  .modal {
    display: none;
  }

  .hero {
    /* move the background image up */
  }

  /* Top gray bar styles */

  #top,
  nav {
    font-family: var(--lato);
    padding: 1rem;
    background-color: var(--dark-grey);
  }

  .inner-content {
    width: 70%;
    margin: 0 auto;
  }

  #top ul,
  nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }

  #top a,
  nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
    font-size: 90%;
    font-weight: bold;
  }

  #top a:hover,
  nav a:hover {
    color: var(--orange);
  }

  #top [class*='fa-'] {
    font-size: 150%;
    color: var(--white);
  }

  /* Nav styles */
  .mobile-nav {
    display: none;
  }
  nav {
    background-color: var(--white);
  }
  nav ul {
    justify-content: center;
    gap: 1rem;
  }

  nav a {
    color: var(--grey);
    font-size: 150%;
    transition: all 0.3s;
  }

  .nav-logo {
    height: 5vh;
    width: 5vh;
  }

  .nav-logo img {
    padding-top: 0.7rem;
    height: 60%;
  }

  nav li {
    margin-left: 5rem;
  }

  nav li:first-child {
    margin-right: auto;
  }
  nav li:last-child {
    margin-left: 15rem;
  }
}
